<div>
    <a class="btn btn-secondary" href="/product"><i class="fa fa-plus"></i> Create New</a>

    <h3 align="center">Product List</h3>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Product Desc</th>
            <th>Product Price(INR)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr align="center">
            <td>{{this.productName}}</td>
            <td>{{this.productId}}</td>
            <td>{{this.productDesc}}</td>
            <td>{{this.productPrice}}</td>
            <td>
                <a href="/product/{{this._id}}"> Edit </a>
                <a href="/product/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"> Delete </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>